{% extends "type4/all_cards.html" %}

{% block subtitle %}
	 - Filter
{% endblock %}

{% block intro %}

<h1> Filter by Category </h1>

<form action="{% url 'type4:filter' %}" method="get">
	
	{% for filter in filter_choices %}
	<br/>
	<select name="{{filter.attr}}">
		<option value="None">-</option>
		<option value="True">True</option>
		<option value="False">False</option>
	</select>
	<label>{{filter.name}}</label>
	{% endfor %}
	
	<br />
	<input type="submit" value="Submit" />
	
</form>

{% endblock %}