.cardlist .data {
	display: none;
}
.cardlistdisplay {
	padding: 10px;
	border: 4px double black;
}
.cardimage {
	width: 222px;
}
.columned {
	-moz-column-width: 200px;
	-webkit-column-width: 200px;
}
.cardlist-title {
	text-decoration: underline;
}
@media only screen and (max-device-width: 568px) {
	.cardimage {
		width: 127px;
	}
}
@media only screen and (max-device-width: 320px) {
	.cardimage {
		width: 130px;
	}
}