.cardlist .data {
	display: none;
}
.cardlistdisplay {
	padding: 10px;
	border: 4px double black;
}
.cardimage {
	width: 200px;
}
.columned {
	-moz-column-width: 200px;
	-webkit-column-width: 200px;
}
.cardlist-title {
	text-decoration: underline;
}